source/TRAIN/TRAIN_TrustRegistry/src/main/resources/formatParsers/theAuctionHouse2019/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document with http://xmlgrid.net -->

    <xs:element name="form">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="street" type="xs:string"></xs:element>
                            <xs:element name="city" type="xs:string"></xs:element>
                            <xs:element name="country" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="lot_number" type="xs:int"></xs:element>
                <xs:element name="bid" type="xs:int"></xs:element>
            </xs:sequence>
            <xs:attribute name="format" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
